<h1 class="text-center my-5">Crear Pelicula</h1>
<br><br>

<div class="d-flex justify-content-center">
    <div class="card col-6">
        <%= form_with model: @movie, method: :post do |movie| %>
            <div class="border p-5 shadow">
                <div class="mb-3">
                    <%= movie.label :name, "Nombre Pelicula:", class:"form-label" %>
                    <%= movie.text_field :name, class:"form-control" %>
                </div>
                <div class="mb-3">
                    <%= movie.label :synopsis, "Sinopsis Pelicula:", class:"form-label" %>
                    <%= movie.text_area :synopsis, class:"form-control" %>
                </div>
                <div class="mb-5">
                    <%= movie.label :director, "Director Pelicula:", class:"form-label" %>
                    <%= movie.text_field :director, class:"form-control" %>
                </div>
                <div>
                    <%= movie.submit "Crear", class:"btn btn-dark" %>
                </div>
            </div>
        <%  end %>
    </div>
</div>
<div class="text-center my-5">
    <%= link_to "Listado Pelicula", movies_index_path, class:"btn btn-dark" %>
    <%= link_to "Inicio", home_index_path, class:"btn btn-dark" %>
</div>
